.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 20px;
}

.loginBlock {
    display: flex;
    justify-content: flex-end;
}

.loginBlock span {
    font-size: 24px;
    color: #fff;
}